/* styles.css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1140px;
  height: 600px;
  display: flex;
  object-fit: cover;
}

.item {
  width: 30%;
  height: 100%;
  
}

.title {
    color: darkgreen;
  }
   
  .item {
    padding: 5px 0;
    font-family: Arial, sans-serif;
  }
   
  .current {
    font-weight: 700;
  }